## Mongodb Aggregate And Group
    avg
    sum
    project

In [2]:
from pymongo import MongoClient

# creation of object MongoClient
client = MongoClient('mongodb://localhost:27017/')

# access database
mydatabase = client['Students']

# acess collection of the database
collection = mydatabase['studentscores']
data = [
    {"user":"Krish", "subject":"Database", "score":80},
    {"user":"Amit",  "subject":"JavaScript", "score":90},
    {"user":"Amit",  "title":"Database", "score":85},
    {"user":"Krish",  "title":"JavaScript", "score":75},
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}]

collection.insert_many(data)

InsertManyResult([ObjectId('66b5eaf8468466ee11dbb4aa'), ObjectId('66b5eaf8468466ee11dbb4ab'), ObjectId('66b5eaf8468466ee11dbb4ac'), ObjectId('66b5eaf8468466ee11dbb4ad'), ObjectId('66b5eaf8468466ee11dbb4ae'), ObjectId('66b5eaf8468466ee11dbb4af')], acknowledged=True)

In [3]:
# Find amit and kirsh total subjects
agg_result = collection.aggregate(
    [{
        '$group':
            {
                '_id':'$user',
                'Total Subject':{'$sum':1}
            }
    }]
)

for i in agg_result:
    print(i)

{'_id': 'Amit', 'Total Subject': 3}
{'_id': 'Krish', 'Total Subject': 3}

In [5]:
# calculating the total score based on users
agg_result = collection.aggregate(
    [{
        '$group':
            {
                '_id':'$user',
                'Total Score':{'$sum':'$score'}
            }
    }]
)

for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Score': 250}
{'_id': 'Amit', 'Total Score': 235}

In [7]:
# calcualting the average score based on user
agg_result=collection.aggregate([
    {
        '$group':
            {
                '_id':'$user',
                'Average Score':{'$avg':'$score'}
            }
    }
])

for i in agg_result:
    print(i)

{'_id': 'Amit', 'Average Score': 78.33333333333333}
{'_id': 'Krish', 'Average Score': 83.33333333333333}

In [10]:
import datetime as datetime

In [11]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [12]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 8, 9, 10, 26, 43, 419433)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 8, 9, 10, 26, 43, 419433)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 8, 9, 10, 26, 43, 419433)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 8, 9, 10, 26, 43, 419433)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 8, 9, 10, 26, 43, 419433)}]

In [13]:
mycollection=mydatabase['stores']
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [14]:
# calculating the average quatlity And average price
agg_result=mycollection.aggregate([
    {
        '$group':
            {
                '_id':'$item',
                'Average Quantity':{'$avg':'$quantity'},
                'Average Price':{'$avg':'$price'}
            }
    }
])

for i in agg_result:
    print(i)

{'_id': 'xyz', 'Average Quantity': 7.5, 'Average Price': 5.0}
{'_id': 'abc', 'Average Quantity': 6.0, 'Average Price': 10.0}
{'_id': 'jkl', 'Average Quantity': 1.0, 'Average Price': 20.0}

In [15]:
# $Project
data=[{
    "_id" : 1,
    "title": "abc123",
    "isbn": "0001122223334",
    "author": { "last": "zzz", "first": "aaa" },
    "copies": 5
},
{
    "_id" : 2,
    "title": "Baked Goods",
    "isbn": "9999999999999",
    "author": { "last": "xyz", "first": "abc", "middle": "" },
    "copies": 2
}]

In [16]:
data

[{'_id': 1,
  'title': 'abc123',
  'isbn': '0001122223334',
  'author': {'last': 'zzz', 'first': 'aaa'},
  'copies': 5},
 {'_id': 2,
  'title': 'Baked Goods',
  'isbn': '9999999999999',
  'author': {'last': 'xyz', 'first': 'abc', 'middle': ''},
  'copies': 2}]

In [17]:
# access collection of the database
collection = mydatabase['Books']

In [18]:
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [19]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}