In [4]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
eminfo=mydb.employeeinformation

In [6]:
record={
    "firstname":'John',
    "lastname":'Doe',
    'department':'Analytics',
    'qualification':'BE',
    'age':29
}
eminfo.insert_one(record)

InsertOneResult(ObjectId('66b5cac73ae8fd36dd457143'), acknowledged=True)

In [7]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        },
        {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        }]

In [8]:
eminfo.insert_many(records)

InsertManyResult([ObjectId('66b5cb433ae8fd36dd457144'), ObjectId('66b5cb433ae8fd36dd457145'), ObjectId('66b5cb433ae8fd36dd457146'), ObjectId('66b5cb433ae8fd36dd457147')], acknowledged=True)

In [9]:
# simple way of quering
eminfo.find_one()

{'_id': ObjectId('66b4f03ee1986795312057bf'),
 'firstname': 'Emon',
 'lastname': 'Hasan',
 'age': 28,
 'designation': 'Software Engineer',
 'salary': 70000}

In [10]:
eminfo.find()

In [12]:
for record in eminfo.find({}):
    print(record)

{'_id': ObjectId('66b4f03ee1986795312057bf'), 'firstname': 'Emon', 'lastname': 'Hasan', 'age': 28, 'designation': 'Software Engineer', 'salary': 70000}
{'_id': ObjectId('66b4f03ee1986795312057c0'), 'firstname': 'John', 'lastname': 'Doe', 'age': 32, 'designation': 'Data Scientist', 'salary': 90000}
{'_id': ObjectId('66b4f03ee1986795312057c1'), 'firstname': 'Jane', 'lastname': 'Smith', 'age': 25, 'designation': 'Product Manager', 'salary': 85000}
{'_id': ObjectId('66b5cac73ae8fd36dd457143'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66b5cb433ae8fd36dd457144'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('66b5cb433ae8fd36dd457145'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('66b5cb433ae8fd36dd457146'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('66b5cb433ae8fd36dd457147'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [13]:
# Query the json documents based on equality condition
# slect * from employeeinformation wher firstname=emon

for record in eminfo.find({'firstname':'John'}):
    print(record)

{'_id': ObjectId('66b4f03ee1986795312057c0'), 'firstname': 'John', 'lastname': 'Doe', 'age': 32, 'designation': 'Data Scientist', 'salary': 90000}
{'_id': ObjectId('66b5cac73ae8fd36dd457143'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66b5cb433ae8fd36dd457144'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}

In [14]:
# query documents using query operators($in,$it,$gt)
for record in eminfo.find({"qualification":{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('66b5cb433ae8fd36dd457146'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('66b5cb433ae8fd36dd457147'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [16]:
# And and Query operator
for record in eminfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('66b5cb433ae8fd36dd457147'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [17]:
# OR operators
for record in eminfo.find({'$or':[{'firstname':'Krish'},{'qualification':'master'}]}):
    print(record)

{'_id': ObjectId('66b5cb433ae8fd36dd457147'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [18]:
inventory=mydb.inventory

In [19]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [20]:
for records in inventory.find({'size':{'h':14,'w':21,'uom':'cm'}}):
    print(records)

{'_id': ObjectId('66b5d2d33ae8fd36dd457148'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}